<html>
    <head>
	
        <title>Checkout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" type="text/css" href="/styles/master.css">

        <script type="text/javascript" src="/scripts/master.js" defer></script>
        <script type="text/javascript" src="/scripts/productListing.js" defer></script>

    </head>
    <body>
        <div class = "header">
            <h1 class = "primary-message">Checkout</h1>
        </div>

		<div id="main" class="main">
			<div id="error" <% if (!locals.errorMessage || (locals.errorMessage === "")) { %> class="hidden" <% } %>>
				<h4 id="errorMessage" class="error-message">
					<% if (locals.errorMessage && (locals.errorMessage !== "")) { %>
						<%= locals.errorMessage %>
					<% } %>
				</h4>
			</div>

			<div class = "productArea">
			<!-- 
				<div class="productDetailWrapper">
			<table id="productDetails">
				<tbody>
					<tr class="hidden">
						<td>ID:</td>
						<td>
							<input id="productId" type="hidden" value="<% if (locals.product && locals.product.id) { %><%= locals.product.id %><% } %>" />
						</td>
					</tr>
					<tr>
						<td class="label">Lookup Code:</td>
						<td>
							<input id="productLookupCode" type="text" value="<% if (locals.product && locals.product.lookupCode) { %><%= locals.product.lookupCode %><% } %>" class="update" <% if (!locals.isElevatedUser) { %>disabled<% } %> />
						</td>
					</tr>
					<tr>
						<td class="label">Count:</td>
						<td>
							<input id="productCount" type="number" value="<% if (locals.product && locals.product.count) { %><%= locals.product.count.toString() %><% } %>" class="update" <% if (!locals.isElevatedUser) { %>disabled<% } %> />
						</td>
					</tr>
					<tr>
						<td class="label">Price:</td>
						<td>
							<input id="productPrice" type="number" value="<% if (locals.product && locals.product.price) { %><%= locals.product.price.toString() %><% } %>" class="update" <% if (!locals.isElevatedUser) { %>disabled<% } %> />
						</td>
					</tr>
				</tbody>
			</table>
			-->
			</div>
			
			<div class = "footer">
				<button id="discardButton" type="button" class="action">Back</button>
				<button id="finalizeButton" type="button" class="action">Finalize</button>
			</div>
			
			
		</div>
    </body>
	
</html>