<html>
    <head>
        <title>Checkout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" type="text/css" href="/styles/master.css">

        <script type="text/javascript" src="/scripts/master.js" defer></script>4
    </head>
    <body>
        <div class = "header">
            <h1 class = "primary-message">Checkout</h1>
        </div>

		<div id="main" class="main">
			<div id="error" <% if (!locals.errorMessage || (locals.errorMessage === "")) { %> class="hidden" <% } %>>
				<h4 id="errorMessage" class="error-message">
					<% if (locals.errorMessage && (locals.errorMessage !== "")) { %>
						<%= locals.errorMessage %>
					<% } %>
				</h4>
			</div>

			<div class = "inputContent">
				<table id="transactionDetails">
					<tbody>
						<% if (locals.transaction && (locals.transaction.length > 0)) { %>
						<tr>
							<th>
								<span name = "transactionID">Transaction ID: <%= transaction.id %></span> </br>
								<span name = "transactionCount">Count: <%= transaction.count%> </span> </br>
								<span name = "transactionPrice">Price: <%= transaction.Price %> </span> </br>
								<span name = "transactionDate">Transaction Date: <%= transaction.Date %></span>
							</th>
							<th>
								<button id="QuantityButton" type="button" class="action">Quantity</button>
								<input type = "hidden" name = "Quantity" type="number">
							</th>
							<th>
								<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
									<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
									<path d="M0 0h24v24H0z" fill="none"/></svg>
							</th>
						</tr>
						<% } %>
					</tbody>
				</table>

				<form>
					<label for="quantity">Quantity:</label>
					<input type="text" id="quantity" name="quantity">
				</form>
			</div>
			
			<div>
				<form>
					<label for="totalPrice">Total Checkout Price:</label>
					<input id="totalPrice" type="text" value="" class="update"/><br>
					<label for="totalQuantity">Total Quantity:</label>
					<input id="totalQuantity" type="text" value="" class="update"/>
				</form>
			</div>
			
			<div class = "footer">
				<button id="updateButton" type="button" class="action">Update</button>
				<button id="discardButton" type="button" class="action">Back</button>
				<button id="finalizeButton" type="button" class="action">Finalize</button>
			</div>
		</div>
    </body>
</html>